@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-bg {
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}

.nav-link {
  position: relative;
}

.nav-link::before,
.nav-parent:hover .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5px;
  background-color: #0f172a;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-link:hover::before,
.nav-parent:hover .nav-link::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.card-bg-lavande {
  background-image: url("/lavande.jpg");
  background-size: cover;
  background-position: center;
}
